<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="description" content="Simple demo of Vercel with Python serverless functions" />
</head>

<body style="font-family: product-sans;">

    <div hx-get="/board" hx-trigger="load, every 1s"></div>
    <div style="position: fixed; bottom: 0; left: 0; display: flex; width: 100%;">
        <input type="text" placeholder="Type your message..." style="flex: 9" name="chatbox" />
        <div style="display: flex; justify-content: center;  padding: 0.50rem;" hx-post="/message" hx-include="[name='chatbox']" hx-swap="none">
            <img src="https://cdn-icons-png.flaticon.com/512/3106/3106794.png"
                style="width: 2rem; height: 2rem; filter: invert(1);" />
        </div>
    </div>


    <style>
        @font-face {
            font-family: product-sans;
            src: url(/assets/ps-regular.ttf);
            font-display: swap;
        }
    </style>
</body>

</html>